# Dipendenze
node_modules/
package-lock.json

# Certificati (Sbloccati per deploy su repository PRIVATO)
# certs/
!mosquitto/config/certs/

# Variabili d'ambiente
.env

# Script di utilità locale
generate-certs.ps1

# Log di sistema e file temporanei
*.log
npm-debug.log*
.DS_Store


#Documentazione
doc/